* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/backgroundimg.jpg);
    background-size: 100% 800px;
    background-repeat: no-repeat;
    color: white;
}